<?xml version="1.0"?>
<!--
    /**
    * Roman Yurkhanov
    *
    * Email :: ferrumdp@gmail.com
    * Linkedin :: https://www.linkedin.com/in/roman-yurkhanov-322035122/
    *
    * Copyright 2024-present Roman Yurkhanov. All rights reserved.
    * See license.txt for license details.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="romanyurkhanov_dealer_observer" instance="RomanYurkhanov\Dealer\Observer\Topmenu" />
    </event>
</config>
